ConnectionStrings__DefaultConnection=AdequateConnStr
Authentication__Jwt__SecretKey=YourVeryLongSecretKey!
Authentication__Jwt__Issuer=Dealmatcher.Backend.API
Authentication__Jwt__Audience=Dealmtcher.Frontend.App
ConnectionStrings__AzureBlobStorage=BlobStorageConnectionString
ConnectionStrings__Redis=dealmatcher-redis:6379,password=password
Redis__Password=password