# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# User-specific / local settings
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Build logs
*.log
msbuild.*.binlog

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
coverage*/
*.coverage
*.coveragexml

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# dotnet tool
.dotnet/