.dart_tool/
.packages
.pub-cache/
.pub/
build/

.gradle/
captures/
assets/debug/
**/android/app/src/main/res/raw/
**/android/bundle/
**/android/key.properties

.generated/
DerivedData/
Runner.xcworkspace/
xcuserdata/

node_modules/
.next/
out/

.idea/
.vscode/
*.iml
.DS_Store
.history/
*.log

Dockerfile
docker-compose.yml
.git/
.gitignore